@model List<RoleModel>

@{
    ViewData["Title"] = "Roles";
}

<div class="jumbotron bg-dark text-center text-white p-4">
    <h1> Manage @ViewData["Title"] </h1>
    <a class="btn btn-outline-success mt-2" asp-action="CreateOrEdit"> Create Role <i class="fa fa-plus"></i> </a>
</div>
<div>

    @if (Model != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td>@role.Description</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@role.Id"> <i class="fa-solid fa-magnifying-glass"></i> </a>
                            <a class="btn btn-outline-warning btn-sm" asp-action="CreateOrEdit" asp-route-id="@role.Id"> <i class="fa fa-edit"></i> </a>
                            <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@role.Id"> <i class="fa fa-trash"></i> </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h1> @ViewBag.message</h1>
        </div>
    }
</div>